
/* Agenda de Contatos - PHP */
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #232323;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.navbar {
    background-color: #000000cc;
}

.navbar-header {
    margin: auto;
    letter-spacing: 2px;
}

.navbar-header a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    color: #ced3d8;
    text-decoration: none;
}

.navbar-header a:hover {
    color: #ffffff;
}

body > .container {
    margin-top: 120px;
}

.titulo {
    margin-top: 65px;
    margin-bottom: 35px;
}

/* Menu dropdown Login/Logout */
.dropdown > ul {
    background-color: #232323;
}

.dropdown-menu > li > a {
    color: #999999;
}

#status {
    text-align: center;
    margin: 35px 0;
}

/* Loading */
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #00000050
                url('../img/loader.png')
                50% 35% 
                no-repeat;
}

body.loading .modal-loading {
    overflow: hidden;
}